.body-main {
    margin-top:70px;
}

input.search-input[type="text"] {
    border-radius: 20px;
    padding-left:30px;
}
.innerDiv {
    position: relative;
}

.innerDiv .glyphicon-search {
    position:absolute;
    top:10px;
    left:15px;
}